
.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: red;
  }
  
  .nav {
    background-color: rgb(37, 37, 39);
  }
  
  .nav ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
  }
  
  .nav ul li {
    display: inline;
  }
  
  .nav ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background 0.4s;
  }
  .nav ul li a:hover {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #116fbf;
  }